
.pad{
  padding:10px;
  border:20px;
  margin:20px;
}


.body{
color:#EDEDED;
background-color:#00001a;
}

.myimg{
  height:20%;
  width:20%;
  float:left;
}
.about-text{
  font-size:30px;
  padding:10%;
}



#education{
  background-image: url(images/edubook.jpg);
  background-repeat: no-repeat;
  background-color: #F2DEBA;
  color:#251B37;
  text-align: center;
}
.edudata{
  color:black;
  font-size: 2rem;
}
.eduimages{
  height: 200px;
  width:200px;
}

.heading{
  font-size: 4rem;
  font-weight: bolder;
}
#Projects{
  text-align: center;

}





/* navbar */
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
